#container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;


 
  


}

#Hogwarts{
background-color: aquamarine;
display: block;
justify-content: left;



}

#Moldy{
background-color: brown;
justify-content: right;

}

.cardImage {
  width: 300px;
  height: 300px;
}

.houseFilters{
display: flex;
justify-content: space-evenly;
}


#cont1{

margin-right: 20px;
border: solid 5px;
background-color: orange;
}

#cont2{
margin-left: 50px;
border: solid 5px;
background-color: yellow;

}
